<!-- app.component.html -->

<div>
  <button (click)="scanPairedDevices()">Scan Paired Devices</button>
  <button (click)="scanUnpairedDevices()">Scan Unpaired Devices</button>

  <h2>Paired Devices:</h2>
  <ul>
    <li *ngFor="let device of devices">
      {{ device.name }} ({{ device.address }})
      <button (click)="connectToDevice(device.address)">Connect</button>
    </li>
  </ul>

  <h2>Unpaired Devices:</h2>
  <ul>
    <li *ngFor="let device of unpairedDevices">
      {{ device.name }} ({{ device.address }})
      <button (click)="connectToDevice(device.address)">Connect</button>
    </li>
  </ul>
</div>
